/************* MAIN STYLES ***********/
html {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100 !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.about-page {
  margin-top: 6em !important;
}
a {
  color: black;
}

.bold {
  font-weight: bold;
}

#feather {
  margin: 6px 0 0 5px;
  width: 80%;
}

/************* HEADER STYLES ***********/


.create-header {
  margin-top: 4em;
  letter-spacing: 5px;
}

.je-header {
  margin-top: 2em;
  letter-spacing: 5px;
}

.uje-header {
  margin-top: 2em;
  letter-spacing: 5px;
}

/************* NAV BAR STYLES ***********/
nav {
  background-color: tan;
  letter-spacing: 3px;
  border-bottom: 2px solid #97A7B2;
}


.dropdown-content li>a {
  color: black !important;
}



/************* FORM ELEMENT STYLES ***********/
input, textarea {
  max-width: 85%;
  transition: .5s !important;
  font-family: 'Montserrat', sans-serif !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid tan;
  -webkit-box-shadow: 0 1px 0 0 tan;
  max-width: 90%;
}

textarea {
  border: none;
  border-bottom: .1px solid black;
  height: 165px;
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid tan;
  -webkit-box-shadow: 0 1px 0 0 tan;
  max-width: 90%;
}


/************* BUTTON STYLES ***********/

button.btn, input[type=submit] {
  background-color: black;
  color: white !important;
  transition: .35s;
}

button.btn:hover,
 input[type=submit]:hover {
  opacity: 1.2 !important;
}


.update-button,
.delete-button {
  display: inline-block;
}

#confirm-update-button, #create-entry-button {
  background-color: black !important;
}

#confirm-update-button:hover,  #create-entry-button:hover  {
  color: black !important;
  background-color: white !important;
  border: 1px solid black;
  transform: scale(1.1);
}

.back-to-read {
  background-color: black !important;
}

.back-to-read:hover {
  color: black !important;
  background-color: white !important;
  border: 1px solid black;
  transform: scale(1.1);
}

.delete-button {
  background-color: #EB9486 !important;
}

#confirm-delete-button {
  transition: .3s;
}

#confirm-delete-button:hover{
  background-color: white !important;
  color: tomato !important;
  border: 1px solid tomato !important;
  transform: scale(1.1);
}


.update-button, .back-to-read {
  background-color: grey !important;
}

button, input[type=button], input[type=submit] {
  margin: 0 .5em;
}


/************* LIST ITEM STYLES ***********/

.collection {
  border: none !important;
}

.collection-item {
  margin: 2em 0 .5em 0 !important;
  border-bottom: 1px solid tan !important;
  border-radius: 2px;
}


/************* SUCCESS MESSAGE STYLES ***********/

.message-status {
  margin-top: 2em;
}

.delete-message {
  color: tomato !important;
  font-weight: bold;
}

/************* FOOTER STYLES ***********/
footer {
  padding:0;
  background-color: tan !important;
  border-top: 2px solid #97A7B2;
}

.social-links-head {
  text-decoration: underline;
  display: inline;
}

.clickables {
  color: white;
}

.clickables:hover {
  cursor: pointer;
  color: #00aff0;
}

.pad {
  padding: 5px 0px;
}

.right-pad {
  padding-right: 4px;
}


.bottom-pad {
  margin-bottom: 20px;
}

footer .row .col.s12 {
  width: 50%;
}

/************* END FOOTER STYLES ***********/

/************* SPECIFIC ENTRY STYLES ***********/

.specific-entry {
  border-bottom: 1px solid tan;
  margin-top: 6em;
}
