
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/create">CREATE</a></li>
  <li><a href="/read">READ</a></li>
  <li><a href="/logout">LOG OUT</a></li>
</ul>

<!-- DROPDOWN HAMBURGER -->
<nav class="hide-on-med-and-up">
  <div class="nav-wrapper">
    <div class="left">
      <a href="/"><img id='feather' src="https://png.icons8.com/metro/50/000000/haiku.png"></a>
    </div>
    <ul id="nav-mobile" class="right">
      <li><a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">dehaze</i></a></li>
    </ul>
  </div>
</nav>


<!-- MAIN NAV -->
<nav class="hide-on-small-only">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo left"><img id='feather' src="https://png.icons8.com/metro/50/000000/haiku.png"></a>
    <ul id="nav-mobile" class="right">
      <li><a href="/create">CREATE</a></li>
      <li><a href="/read">READ</a></li>
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
  </div>
</nav>
