{% extends 'layout.html' %}

 {% block body %}
    <div class="about-page">
       <img id="profile" src="../../static/images/mitchpic.jpeg" alt="Picture of Mitch">
       <h1>About</h1>
       <p>Hello, I'm Mitch. I created this application for all of us who enjoy documenting this amazing life.</p>
       <br>
       <p>
         <a href="https://www.linkedin.com/in/mitchell-lembke/">LinkedIn</a>
       </p>
       <p>
         <a href="https://github.com/mlembke1">Github</a>
       </p>
       <p>
         <a>mitchell.lembke@gmail.com</a>
       </p>
    </div>
 {% endblock %}
