{% extends 'layout.html' %}

 {% block body %}
   <div class="loader">
    <div class="loader__figure"></div>
   </div>
   <div class="center-align home-header">
     <h3 id="landing-page-header"><span class='letter-spacing'>WRITE</span></h3>
     <p id="typing"></p>
     <br>
     <a href="/start#signup-collapsible"><button class='signup-login-button btn btn-small' id='signup-button'>SIGNUP</button></a>
     <a href="/start#login-collapsible"><button class='signup-login-button btn btn-small' id='login-button'>LOGIN</button></a>
   </div>
 {% endblock %}
