{% extends 'layout.html' %}

{% block body %}
  <div class="specific-entry row center-align">
    <div class="row">
      <div class="col l3 s12">
        <h6><span class="bold">TITLE:</span> <br> {{entry.title}}</h6>
      </div>
      <div class="col l6 s0"></div>
      <div class="col l3 s12">
        <h6><span class="bold">AUTHOR:</span> <br> {{entry.author}}</h6>
      </div>
    </div>
    <div class="row">
      <h6><span class="bold">JOURNAL ENTRY: </span></h6>
      <p>{{entry.journal_entry}}</p>
    </div>
  </div>
  <div class="row center-align">
    <a href="/read"><button class='btn back-to-read'>BACK</button></a>
  </div>
{% endblock %}
