{% extends 'layout.html' %}

 {% block body %}
   <div class="signup-login-wrapper">
    <ul class="collapsible popout">
      <li>
        <div id="login-collapsible" class="collapsible-header">LOGIN</div>
        <div class="collapsible-body">
          {% from "includes/_formhelpers.html" import render_field %}
          <form class="form" id='login-form' action="/login" method="post">

            <label for="username-login">USERNAME:</label>
            <span class="signup-error login-form-username-error"></span>
            <input class="form-control" type="text" id='username-login' name="username" required value="{{request.form.username}}">

            <label for="password-login">PASSWORD:</label>
            <input class="form-control" type="password" id="password-login" name="password" required value="{{request.form.password}}">

            <button type="submit" id='login-submit-button' class='btn waves-effect waves-light'>LOGIN</button>
            <span class="signup-error" id="general-login-error">
              {% if loginFailed %}
                <p>Username or password is incorrect.</p>
              {% endif %}
            </span>
          </form>
        </div>
      </li>
      <li>
        <div id="signup-collapsible" class="collapsible-header">SIGNUP</div>
        <div class="collapsible-body">
          <form class="form" id="signup-form" action="/signup" method="post">
            <label for="username-signup">USERNAME:</label>
            <span class="signup-error signup-form-username-error"></span>
            <input min="8" max="30" type="text" id='username-signup' name="username" required value="{{request.form.username}}">


            <label for="email-signup">EMAIL:</label>
            <span class="signup-error signup-form-email-error"></span>
            <input class="form-control" type="email" id='email-signup' name="email" required value="{{request.form.email}}">

            <label for="password-signup">PASSWORD:</label>
            <span class="signup-error signup-form-password-error"></span>
            <input class="form-control" min="8" max="30" type="password" id="password-signup" name="password" required value="{{request.form.password}}">

            <label for="confirm-password-signup">CONFIRM PASSWORD:</label>
            <span class="signup-error signup-form-password-error"></span>
            <input class="form-control" min="8" max="30" type="password" id="confirm-password-signup" name="confirm" required value="{{request.form.confirm}}">

            <br>
            <button type="submit" id='signup-submit-button' class='btn btn-small waves-effect waves-light'>SIGNUP</button>
            <span class="signup-error" id="general-signup-error"></span>
          </form>
        </div>
      </li>
    </ul>
   </div>
 {% endblock %}
